// SETUP
@import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';
@import 'setup/functions';

@font-face {
    font-family: 'Days-Regular';
    src: url("/fonts/Days/Days-Regular.ttf");
}
@font-face {
    font-family: 'Days-Bold';
    src: url("/fonts/Days/Days-Bold.ttf");
}
@font-face {
    font-family: 'Days-Nights';
    src: url("/fonts/Days/Days-Nights.ttf");
}
@font-face {
    font-family: 'Days-NightsBold';
    src: url("/fonts/Days/Days-NightsBold.ttf");
}

// BASICS
@import 'base/helpers';
@import 'base/base';
@import 'base/layout';

// COMPONENTS
@import 'cmps/AppHeader';
@import 'cmps/Page';
@import 'cmps/AppFooter';

// PAGES
@import 'pages/Home';
@import 'pages/ViewOrg';
@import 'pages/OrgDoc';
