.chapter-preview {

    .top {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-block: .5rem;

        span {
            font-size: .9rem;

            &.selected {
                font-weight: bold;
                color: $clr-primary-2;
            }
        }

        img {
            width: 14px;

            &.opened {
                transform: rotate(90deg);
            }
        }
    }

    .sub-chapters {
        padding-inline-start: .5rem;
        gap: 0;

        li {
            font-size: .9rem;
            margin-bottom: .35rem;

            &:hover {
                text-decoration: underline;
            }

            &.selected {
                font-weight: bold;
                color: $clr-primary-2;
            }

            span {
                color: $clr-primary-light;
            }
        }
    }
}