.side-bar {
    position: fixed;
    top: 96px;
    left: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $clr-white;
    transition: all 600ms;
    max-width: 580px;
    border-radius: .25rem;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
        rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;


    &:hover {
        cursor: pointer;
    }

    &.open {
        top: 216px;
    }


    .img-container {
        background-color: #4b2647;
        padding: .5rem 1rem .5rem .5rem;
        width: 56px;
        display: flex;
        align-items: center;
        border-radius: .25rem;
        margin-inline-start: -.5rem;
    }

    .menu-img {
        width: 42px;
        filter: invert(89%) sepia(80%) saturate(471%) hue-rotate(211deg) brightness(100%) contrast(83%);
    }

    .open-side-bar {
        position: relative;
        // top: 148px;
        // left: 0;
        padding-block-end: .5rem;
        padding-inline-start: 1rem;
        padding-inline-end: .5rem;
        margin-inline-start: -.5rem;
        border-radius: .25rem;
        background-color: #4b2647;
        max-height: 450px;
        width: 600px;
        overflow-y: auto;

        .title {
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            width: 570px;
            background-color: #4b2647;
            padding-block: .5rem;
            z-index: 5;

            span {
                font-size: 1.5rem;
            }
        }

        img {
            filter: invert(89%) sepia(80%) saturate(471%) hue-rotate(211deg) brightness(100%) contrast(83%);
        }

        .btn-close {
            display: flex;
            align-items: center;
            margin: 0;
            padding: .5rem;
            border-radius: 50%;

            img {
                width: 16px;
            }

            &:hover {
                background-color: $clr-primary-2;
            }
        }
    }



    .chapter-list {
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 0;
        margin-top: 2.5rem;
    }

    ::-webkit-scrollbar-thumb {
        background: $clr-primary-1;
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }

    ::-webkit-scrollbar-track {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }
}