.update-modal {
    position: sticky;
    top: 90px;
    // left: 1.5vw;
    // transform: translate(-50%, 0);
    margin: auto;
    padding: .5rem;
    border-radius: .5rem;
    color: $clr-txt;
    width: 95vw;
    background-color: $clr-primary-1;
    z-index: 3;

    .btn-close-update-modal {
        padding: .5rem;
        margin: 0;

        img {
            width: 24px;
            height: 24px;
            filter: invert(43%) sepia(85%) saturate(5068%) hue-rotate(341deg) brightness(88%) contrast(113%);
        }

        &:hover {
            background-color: $clr-bg-light;
        }
    }

    h4 {
        color: $clr-bg-light;
        font-size: 2rem;
    }

    .form-header {
        display: grid;
        grid-template-columns: 3fr 3fr 2fr 2fr;
        align-items: center;
        text-align: start;

        span {
            padding-inline-start: .25rem;
            border: 1px solid $clr-bg-light;
            font-size: 1.25rem;
        }
    }

    form {
        display: grid;
        grid-template-columns: repeat(2, 30%) repeat(2, 20%);
        font-size: 1.25rem;
        align-items: center;
        text-align: start;

        span {
            padding-inline-start: .25rem;
            border: 1px solid $clr-bg-light;
            height: 1.75rem;
            overflow: auto;
        }
    }

    .btn-update {
        background: $clr-bg-light;
        color: $clr-primary;
        font-weight: bold;
        font-size: 1.25rem;
        margin-inline: auto;
        margin-top: 1rem;

        &:hover {
          background-color: $clr-primary1;
          color: $clr-txt;  
        }
    }

    input {
        font-size: 1.25rem;
    }
}