    // $clr-primary1:#0b2e43;
    // $clr-primary: #134869;
    // $clr-primary-1: #1b6898;
    $clr-dark: #191414;
    $clr-white: #ffffff;
    $clr-gray: #E6F4E9;
    $clr-card: #e9e6f4;
    $clr-bg: #212121;
    $clr-bg-light: #a8d7f8;
    $clr-txt: #ffffff;
    $clr-txt-g: rgb(77, 196, 91);
    $clr-b: rgb(63, 81, 181);
    $clr-err: #eb9595;
    $clr-red: #ee2b2b;


    $clr-primary1: #330e2f;
    $clr-primary1-img-filter: invert(10%) sepia(11%) saturate(6381%) hue-rotate(269deg) brightness(95%) contrast(102%);
    $clr-primary: #4b2647;
    $clr-primary-img-filter: invert(16%) sepia(15%) saturate(2195%) hue-rotate(256deg) brightness(94%) contrast(90%);
    $clr-primary-1: #874680;
    $clr-primary-1-img-filter: invert(34%) sepia(10%) saturate(3348%) hue-rotate(256deg) brightness(88%) contrast(80%);
    $clr-primary-2: #c468ba;
    $clr-primary-2-img-filter: invert(51%) sepia(22%) saturate(1156%) hue-rotate(256deg) brightness(95%) contrast(89%);
    $clr-primary-light: #e9c1e5;
    $clr-primary-light-img-filter: invert(99%) sepia(51%) saturate(2349%) hue-rotate(194deg) brightness(95%) contrast(90%);
    $header-grad: linear-gradient(to right, #4b2647, #376b80);
    $footer-grad: linear-gradient(to left, #4b2647, #376b80);
    $active-link: #d065c6;